@import url('../../../../resources/css/cyrus.css');

.news-title{
    font-size: 35px;
    font-weight: bold;
}
.news-subtitle{
    font-size: 18px;
    font-style: italic;
    color: var(--color3)
}

.news-author{
    margin-top: 15px;
    color: var(--color0_light);
    font-weight: bold;
}

.news-date-updated{
    color: var(--color3);
    font-size: 14px;
    font-style: italic;
}

.content-wrapper{
    margin-top: 22px;
}


/* REVIEWS */

.review-post{
    background-color: var(--hoverBackground);
    width: 100%;
}
.review-post-user{
    display: flex;

    align-items: center;

    flex-wrap: wrap;
    flex-direction: column;
}

.review-post-username{
    font-weight: 900;
}

.review-post-user *{
    margin-top: 15px;
}

.review-post-user img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.reviewAs{
    color: var(--color3);
}

.reviews-classified-as{
    font-size: 12px;
    color: var(--color3);
    margin-left: 10px;
}

.review-post-rating{
    margin: 25px 0;
}

.reviews-self-char-notification{
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 18px;
}

.reviews-self-textarea{
    height: 162px;
}

@media only screen and (max-width: 1570px) {
    .review-post-user img{
        width: 90px;
        height: 90px;
    }
}

@media only screen and (max-width: 1140px) {
    .review-post-user{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .review-post .col-9{
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 950px) {
    .reviews-filters-filter-title{
        visibility: hidden;
        width: 0;
        height: 0;
        position: absolute;
    }
}

.review-title{
    font-weight: 900;
}

.review-description{
    font-size: 18px;
    margin-top: 20px;

}

.review-description:not(.expanded){
    max-height: 100px;
    -webkit-mask-image: linear-gradient(to bottom,#000 calc(100% - 30px),#0000);
}

.review-username{
    font-weight: 700;
    font-size: 18px;
}

.review-date{
    color: var(--color3);
}

.evaluate-review{
    font-size: 16px !important;
}

.evaluate-review button:not(:disabled){
    color: var(--color4) !important;
}

/* --- */