@import url('../../../resources/css/cyrus.css');

.section-list-items{
    display: flex;
    flex-direction: row;
}

.section-list-items > .cyrus-card:not(:first-child){

}

.section-list-title{
    margin-bottom: 8px;
}

#suggestionsForYou{

}

#keepWatchingVideos{
    --carousel-cols-count: 5;
}

#lastReleasedVideos{
    --carousel-cols-count: 5;
}

#content .section:not(:first-child){

}

.section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    margin-top: 25px;
    padding-bottom: 25px;
}

.section .cyrus-carousel{
    margin-top: 25px;
}