@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --background: black;
    --font: 'Lato';

    /* Colors */
    --color0: #9067e8;
    --color0_light: #b495f8;
    --color1: white;
    --color2: dimgrey;
    --color2_darker: #4a4e58;
    --color3: #c5c3c3;
    --color3_darker: #a0a0a0;
    --color4: #6cdcdc;
    --color5: #213944;
    --color6: black;
    --color7: #a0a0a0;
    --color8: #ef4323;

    --backgroundColor: black;

    --backgroundColor2: #23252B;
    --backgroundColor3: #23252bb3;
    --hoverBackground: #141519;


    /* Settings */

    --content-wrapper-width: 1300px;
    --content-wrapper-padding-inline: 40px;

    /* Feed */
    --cyrus-start-direction: left;
    --cyrus-end-direction: right;
}

body {
    background: rgb(0, 0, 0);
    color: white;
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


/* Header */

#header {
    width: 100%;
    height: 60px;
}


.header-wrapper {
    width: inherit;
    height: inherit;
    background-color: var(--backgroundColor2);
    position: fixed;
    color: var(--color1);
    z-index: 100;
}

.header-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#header .logo img {
    width: 190px;
    height: 40px;
}

.header-content {
    left: 0;
    right: 0;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    z-index: 50;
}

.header-left {
    height: inherit;
    display: flex;
    align-items: center;
    padding-right: 15px;
    transition: filter .1s cubic-bezier(0, 0, .25, 1);
}

.header-left:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.header-center {
    flex: 0 1 65.625rem;
    height: inherit;
    display: flex;
}

.header-center > div {

}

.header-btn {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: inherit;
    transition: background-color .1s cubic-bezier(0, 0, .25, 1);
}

.header-btn-hovered {
    background-color: var(--hoverBackground);
}

.header-btn:hover {
    background-color: var(--hoverBackground);
}

.header-right {
    height: inherit;
    flex: 0 1 13.75rem;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.header-user-avatar {
    height: 40px;
    border-radius: 50%;

}

/* LINKS */

a {
    text-decoration: none;
    color: var(--color2);
    z-index: 2;
    transition: color .2s ease;

}

a:hover {
    text-decoration: underline;
    color: var(--color1);
}

.link-nodecoration {
    text-decoration: none;
    color: inherit !important;
}

.link-nodecoration:hover {
    text-decoration: none;
    color: inherit;
}

.separator {
    border-left: 1px solid green;

}

/* Content */

#content {
    color: var(--color1);
}

.content-wrapper {
    max-width: calc(var(--content-wrapper-width) + var(--content-wrapper-padding-inline) * 2);
    padding-left: var(--content-wrapper-padding-inline);
    padding-right: var(--content-wrapper-padding-inline);
    margin: 0 auto;
    /*z-index: 101;*/
}

@media only screen and (max-width: 1400px) {
    .content-wrapper {
        --content-wrapper-padding-inline: 20px;
    }

    .text {
        line-height: 24px;
    }
}

/* Others */

.not-available {
    cursor: not-allowed;
}

.no-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

::selection {
    color: var(--color0);
    background: var(--hoverBackground);
}

/* Forms Input */

input[type=text].cyrus-input, textarea.cyrus-input, input[type=text].cyrus-input:focus-visible, textarea.cyrus-input:focus-visible {
    width: 100%;
    color: var(--color1);
    border: 1px solid var(--color3);
    background-color: var(--background);
    padding: 8px;
    font-size: 16px;
    outline: none;
    resize: none;
}

input[type=text].cyrus-input:focus, textarea.cyrus-input:focus {
    border-color: var(--color1);
}


.cyrus-label-noborder {
    border-bottom: 0.125rem solid var(--color2);
}

.cyrus-label-noborder:focus-within {
    border-bottom: 0.125rem solid var(--color0_light);
}

.cyrus-input-noborder {
    width: 100%;
    color: var(--color1);
    border: none;
    font-weight: 500;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.cyrus-input-checkbox-null {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.cyrus-input-checkbox-checkmark {
    background-color: #192e38;
    border: 0.125rem solid #a0a0a0;
    transition: border-color .2s ease;
    box-sizing: border-box;
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 0.5rem;
    position: relative;
    height: 25px;
    width: 25px;
}

.cyrus-label-checkbox {
    color: var(--color3);
}

.cyrus-label-checkbox > * {
    display: flex;
    align-items: center;

}

.cyrus-label-checkbox > *:not(.disable) {
    cursor: pointer;
}

.cyrus-label-checkbox input ~ .cyrus-input-checkbox-checkmark {
    background-color: #192e38;
}

.cyrus-label-checkbox input:checked ~ .cyrus-input-checkbox-checkmark {
    color: white;
    border-color: #2abdbb;
}

.cyrus-label-checkbox input:checked ~ .cyrus-input-checkbox-checkmark:after {
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.cyrus-input-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.cyrus-input-checkbox-checkmark:hover:not(.disable) {
    cursor: pointer;
}

.cyrus-form-inputs *.cyrus-input {

}

label.cyrus-label {
    width: 100%;

}

input[type=submit].cyrus-input, input[type=reset].cyrus-input {
    border: none;
    background: none;
    padding: 10px 22px;
    font-weight: 900;
    box-shadow: inset 0 0 0 0.125rem var(--color0);
    transition-duration: .2s;
    transition-property: color, background-color, box-shadow;
    transition-timing-function: ease;
}

input[type=reset].cyrus-input {
    color: var(--color0);
}

input[type=reset].cyrus-input:hover {
    color: var(--color0_light);
    box-shadow: inset 0 0 0 0.125rem var(--color0_light);
    transition-timing-function: ease;
}


input[type=submit].cyrus-input {
    color: var(--backgroundColor);
    background-color: var(--color0);
}

input[type=submit].cyrus-input:not(:disabled):hover {
    box-shadow: inset 0 0 0 0.125rem var(--color0_light);
    transition-timing-function: ease;
    background-color: var(--color0_light);
}

input[type=submit].cyrus-input:disabled {
    box-shadow: inset 0 0 0 0.125rem var(--color2_darker);
    background-color: transparent;
    color: var(--color2_darker);
}

.cyrus-minimal {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
}

.cyrus-minimal:focus-visible {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}


.cyrus-input-group {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/*
    Adicionar ao input o seguinte para funcionar o floating-label:
        value='' onkeyup="this.setAttribute('value', this.value);"
*/

.cyrus-input-group .cyrus-floating-label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.2s ease, top 0.2s ease;
}


.cyrus-input-group input:focus ~ .cyrus-floating-label,
.cyrus-input-group input:not([value='']) ~ .cyrus-floating-label, .cyrus-input-group textarea:focus ~ .cyrus-floating-label,
.cyrus-input-group textarea:not([value='']) ~ .cyrus-floating-label, .cyrus-floating-label.cyrus-floating-label-float, .cyrus-floating-label.cyrus-floating-label-float-textarea {
    font-size: 14px;
    opacity: 1;
    font-weight: 600;
    color: var(--color3_darker);
}

.cyrus-input-group input:focus ~ .cyrus-floating-label,
.cyrus-input-group input:not([value='']) ~ .cyrus-floating-label, .cyrus-floating-label.cyrus-floating-label-float {
    transform: translateY(-200%);
}

.cyrus-input-group textarea:focus ~ .cyrus-floating-label,
.cyrus-input-group textarea:not([value='']) ~ .cyrus-floating-label, .cyrus-floating-label.cyrus-floating-label-float-textarea {
    top: -9px;
}


select.cyrus-minimal {
    direction: rtl;
}

label.cyrus-minimal:not(input) {
    font-size: 12px;
    font-weight: 600;
}

input.cyrus-minimal {
    color: var(--color1) !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cyrus-input-group:not(.disable-after)::after {
    background-color: var(--color2_darker);
    bottom: 0;
    content: "";
    height: 0.0625rem;
}

/*
.cyrus-input-group input:focus ~ .cyrus-floating-label,
.cyrus-input-group input:not([value='']) ~ .cyrus-floating-label {
*/
.cyrus-input-group:focus-within:after {
    background-color: var(--color0_light);
}


.cyrus-form-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.cyrus-form-buttons > * {
    margin-left: 10px;

}


.cyrus-hover-pointer:not(.disable) {
    cursor: pointer;
}

/* Buttons */
.cyrus-btn {
    width: auto;
    text-transform: uppercase;

}

.cyrus-btn-simple {
    border: none;
    padding: 0;
    background: none;
    font-weight: 700;
    color: var(--color1);
}

.cyrus-btn-simple:hover {
    color: var(--color3) !important;
}

.cyrus-btn-type2 {
    border: none;
    padding: 7px 22px;
    font-weight: 900;
    box-shadow: inset 0 0 0 0.125rem var(--color0);
    transition-duration: .2s;
    transition-property: color, background-color, box-shadow;
    transition-timing-function: ease;
    color: var(--backgroundColor);
    background-color: var(--color0);
}

.cyrus-btn-type2:not(:disabled):hover {
    box-shadow: inset 0 0 0 0.125rem var(--color0_light);
    transition-timing-function: ease;
    background-color: var(--color0_light);
}

.cyrus-btn-type2:disabled {
    box-shadow: inset 0 0 0 0.125rem var(--color2_darker);
    background-color: transparent;
    color: var(--color2_darker);
}


.cyrus-btn-type3 {
    border: none;
    background: none;
    padding: 7px 22px;
    font-weight: 900;
    box-shadow: inset 0 0 0 0.125rem var(--color0);
    transition-duration: .2s;
    transition-property: color, background-color, box-shadow;
    transition-timing-function: ease;
    color: var(--color0);
}

.cyrus-btn-type3:hover {
    color: var(--color0_light);
    box-shadow: inset 0 0 0 0.125rem var(--color0_light);
    transition-timing-function: ease;
}


/* Footer */

#footer {
    /*background: rgb(60,54,65);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(48,44,51,1) 18%, rgba(70,61,78,1) 39%, rgba(84,69,97,1) 51%, rgba(88,69,103,1) 63%, rgba(94,68,116,1) 78%, rgba(98,69,124,1) 88%, rgba(110,72,144,1) 95%);
    height: 550px;*/
    margin-top: 140px !important;
}

.section {
    flex: 0 0 25%;
    display: block;

}

.section > * {
    width: 100%;
    padding: 0;
    margin: 0;
}

.section-title {
    font-size: 16px;
    font-weight: bold;
}

.sections {
    display: flex;
    justify-content: center;
}

.copyright {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    font-weight: 600;
    font-size: 14px;
}


.section h4 {
    margin-bottom: 12px;
}

.list {
}

.list li {
    list-style-type: none;
    color: var(--color3);
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: bold;
}


.page-overlay.open {
    opacity: 1;
    visibility: visible;
}

.page-overlay {
    background-color: #23252bcc;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 98;
}


/* DROPDOWN */

.dropdown {
    display: flex;
    align-items: center;
    max-width: 100%;
    min-width: 50%;

    float: left;
}

.dropdown .dropdown-menu {
    background-color: var(--backgroundColor2);
    color: var(--color3);
    width: 100%;
    overflow-y: auto;
    max-height: 280px;
}

.cyrus-scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 12px;
    cursor: context-menu;
}

/* Track */
.cyrus-scrollbar::-webkit-scrollbar-track {
    background: var(--color2);
    cursor: context-menu;
}

/* Handle */
.cyrus-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color3);
    cursor: context-menu;
}

/* Handle on hover */
.cyrus-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color1);
    cursor: context-menu;
}

.cyrus-scrollbar::-webkit-scrollbar {
    width: 15px;
    cursor: context-menu;
}

/* Track */
.cyrus-scrollbar::-webkit-scrollbar-track {
    background: var(--color2);
    cursor: context-menu;
}

/* Handle */
.cyrus-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color3);
    cursor: context-menu;
}

/* Handle on hover */
.cyrus-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color1);
    cursor: context-menu;
}

.cyrus-scrollbar {

}

.dropdown-menu::-webkit-scrollbar {
    width: 15px;
    cursor: context-menu;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
    background: var(--color2);
    cursor: context-menu;
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
    background: var(--color3);
    cursor: context-menu;
}

/* Handle on hover */
.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: var(--color1);
    cursor: context-menu;
}

.dropdown-menu::-webkit-scrollbar {
    width: 15px;
    cursor: context-menu;
}

/* Track */
.dropdown-menu::-webkit-scrollbar-track {
    background: var(--color2);
    cursor: context-menu;
}

/* Handle */
.dropdown-menu::-webkit-scrollbar-thumb {
    background: var(--color3);
    cursor: context-menu;
}

/* Handle on hover */
.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: var(--color1);
    cursor: context-menu;
}

.dropdown .dropdown-menu .selected {
    background-color: var(--hoverBackground);
    color: var(--color1);
}

.dropdown ul {
    font-weight: 800;
}

.dropdown .dropdown-toggle {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
}


.dropdown:hover {
    color: var(--color4);
    cursor: pointer;
}

.dropdown ul li {
    padding: 12px 25px 12px 15px;
    font-weight: 400;
}

.dropdown ul li:hover {
    color: var(--color1);
    background-color: var(--hoverBackground);
    cursor: pointer;
}


.dropdown > *:not(:last-child) {
    margin-right: 8px;
}

.dropdown-arrow:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-arrow-before:before {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}


/* User Menu */

.user-role-text {
    color: var(--color0_light);
    font-size: 16px;
}

/* LIST */

.list-menu {
    background-color: var(--hoverBackground);
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    left: 0;
    min-width: 320px;
    opacity: 0;
    position: fixed;
    top: 60px;
    transform: translateY(-11px);
    transition: transform .1s, opacity .1s cubic-bezier(0, 0, .25, 1), visibility 0s linear .1s;
    visibility: hidden;
    width: 100%;
}

@media (min-width: 568px) and (min-height: 700px) {
    .list-menu {
        height: auto;
        max-height: calc(100vh - 60px);
        position: absolute;
    }
}

@media (min-width: 568px) {
    .list-menu {
        left: auto;
        /*right: calc(388px - 32px);*/
        right: 0;
        width: 388px;
    }
}


.list-menu.state-open {
    opacity: 1;
    transform: translate(0);
    transition: transform .2s, opacity .2s cubic-bezier(0, 0, .25, 1), visibility 0s;
    visibility: visible;
}

.list-menu-scrollable {
    overflow-y: auto;
}

.list-menu-section {

}

.list-menu-section:not(:first-child) {
    border-top: 0.125rem solid #23252b;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.list-menu-section-item {
    align-items: center;
    color: #dadada;
    display: flex;
    padding: 0.875rem 1.5rem;
    position: relative;
    width: 100%;
}

.list-icon {
    padding-right: 35px;
    font-size: 18px;
    width: 15px;
}

.list-avatar {
    width: 70px;
    border-radius: 50%;
}

.list-menu-btn {
    cursor: pointer;

}

.list-menu-btn:hover {
    background-color: var(--backgroundColor2);
    color: white;
}

/* Card */

.cyrus-card-duration {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    right: 2%;
    padding: 2px 6px;
    font-size: 16px;
    font-weight: lighter;
    background: rgba(0, 0, 0, .5);
}

.cyrus-cards {
    display: flex;
    overflow: hidden;
}

.cyrus-card {
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: block;
    flex-direction: column;
    transition: background-color .2s ease, box-shadow .2s ease;
    background-color: transparent;
    padding: 8px;
    z-index: 50;
}


.cyrus-card-flex {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.cyrus-card-flex .cyrus-card-body {
    margin-left: 12px;
}

.cyrus-card-flex .cyrus-card-body {
    width: calc(100% - 170px);
}

.cyrus-card-flex .cyrus-card-title, .cyrus-card-flex .cyrus-card-description, .cyrus-card-flex .cyrus-card-description > div {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.cyrus-card:hover {
    background: #141519;
    box-shadow: 0 0 0 #141519;
    cursor: pointer;
}

:root {
    --cyrus-card-image-width: 100%;
    --cyrus-card-image-height: 240px;
}

.cyrus-card-image {
    width: var(--cyrus-card-image-width);
    height: var(--cyrus-card-image-height);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cyrus-card-image-flex {
    --cyrus-card-image-width: 170px;
    --cyrus-card-image-height: 120px;
    width: var(--cyrus-card-image-width);
    height: var(--cyrus-card-image-height);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cyrus-card-image-catalog {
    --cyrus-card-image-width: 80px;
    --cyrus-card-image-height: 120px;
    width: var(--cyrus-card-image-width);
    height: var(--cyrus-card-image-height);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cyrus-card-image-cape {
    --cyrus-card-image-width: 230px;
    --cyrus-card-image-height: 130px;
    width: var(--cyrus-card-image-width);
    height: var(--cyrus-card-image-height);
    min-width: 230px;
    min-height: 130px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cyrus-card-image-profile {
    --cyrus-card-image-width: 150px;
    --cyrus-card-image-height: 225px;
    width: var(--cyrus-card-image-width);
    height: var(--cyrus-card-image-height);
    min-width: var(--cyrus-card-image-width);
    min-height: var(--cyrus-card-image-height);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


.cyrus-card-image img, .cyrus-card-image-flex img, .cyrus-card-image-catalog img, .cyrus-card-image-cape img, .cyrus-card-image-profile img {
    width: 100%;
    height: 100%;
}

.c-opacity-70 {
    opacity: 0.7;
}

.cyrus-card-center {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
}

.cyrus-card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


.cyrus-card-title {
    color: var(--color1);
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    margin-top: 8px;
}

.cyrus-card-description {
    margin-top: 6px;
}

.cyrus-card-description > div {
    padding-top: 5px;
}

.cyrus-card-description-type {
    font-size: 16px;
    color: var(--color4);
    font-weight: 400;
}

.cyrus-card-description-info {
    font-size: 14px;
    font-weight: 600;
    color: var(--color2);
    overflow: hidden;
}

@media only screen and (max-width: 930px) {
    .cyrus-card {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
    }

    .cyrus-card-image {
        width: 150px !important;
        height: 80px !important;
    }

    .cyrus-card-body {
        margin-left: 12px;
    }

    .cyrus-card-title {
        margin-top: 0 !important;
    }

    .cyrus-card-description {
        margin-top: 0 !important;
    }

    .cyrus-card-description > div {
        padding-top: 0 !important;
    }

    .cyrus-card-duration {
        font-size: 13px;
    }
}

@media only screen and (max-width: 690px) {
    .cyrus-card-description-text {
        visibility: hidden;
        width: 0;
        height: 0;
        position: absolute;
    }

    .cyrus-card-image-cape {
        width: 150px;
        height: 85px;
        min-width: 150px;
        min-height: 85px;
    }
}


.cyrus-card-description-text {
    position: relative;
    width: 95%;
}

.cyrus-card-description-text span {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 56px;
    line-height: 19px;
    text-align: justify;
}

.cyrus-card-description-text:after {
    position: absolute;
    right: -10px;
    bottom: -4px;
}

/* Carousel */

.cyrus-carousel {
    position: relative;
    left: 0;
    right: 0;
    max-height: var(--arrow-wrapper-max-height);
    min-height: var(--arrow-wrapper-height);
    z-index: 1;
}

.cyrus-carousel-cards {
    grid-area: viewbox;
}

.cyrus-carousel-cards-arrow-wrapper {

}

.cyrus-carousel-items {
    z-index: 1;
}

.cyrus-carousel-items-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / var(--carousel-cols-count));
    overflow: hidden;
    overscroll-behavior-x: none;

}

.cyrus-carousel-items-card {
    margin-left: calc(var(--carousel-cols-gap) / 2);
    margin-right: calc(var(--carousel-cols-gap) / 2);
}


:root {
    --carousel-arrow-dimension: 40px;
    --carousel-rows-count: 1;
    --carousel-cols-count: 7;
    --carousel-cols-gap: 10px;
    --arrow-wrapper-max-height: 100%;
    --arrow-wrapper-height: 225px;
}

.cyrus-carousel-wrapper {
    bottom: 0;
    display: grid;
    /*height: calc((var(--carousel-rows-count) - 1)*500vh);*/
    left: 0;
    min-height: fit-content;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;

}

.cyrus-carousel-arrow {
    align-self: center;
    transition: background-color .15s ease, color .15s ease;
    z-index: 5;
    width: var(--carousel-arrow-dimension);
    height: var(--carousel-arrow-dimension);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cyrus-carousel-arrow-hidden {
    visibility: hidden;
}

.cyrus-carousel-arrow:hover {
    background-color: var(--color0);
}

.cyrus-carousel-arrow-wrapper {
    bottom: 0;
    display: grid;
    height: calc((var(--carousel-rows-count) - 1) * 500vh);
    left: 0;
    max-height: var(--arrow-wrapper-max-height);
    min-height: var(--arrow-wrapper-height);
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
}

.cyrus-carousel-next {
    justify-self: end;
    --translateX: calc(var(--content-wrapper-padding-inline));

}

.cyrus-carousel-previous {
    justify-self: start;
    --translateX: calc(var(--content-wrapper-padding-inline) * -1);
}

@media only screen and (max-width: 1400px) {
    :root {
        --carousel-cols-count: 6;
    }
}

@media only screen and (max-width: 1144px) {
    :root {
        --carousel-cols-count: 5;
    }
}

@media only screen and (max-width: 930px) {
    :root {
        --carousel-cols-count: 4;
    }

    .cyrus-carousel .cyrus-card {
        flex-direction: column !important;
    }
}


@media only screen and (max-width: 750px) {
    :root {
        --carousel-cols-count: 3;
    }
}

@media only screen and (max-width: 630px) {
    :root {
        --carousel-cols-count: 2;
    }
}


/* Feed */

.cyrus-feed-divider {
    height: 4px;
    width: 100%;
}

.cyrus-feed-divider-1 {
    background-image: linear-gradient(to var(--cyrus-start-direction), var(--color0), var(--color0_light));
}

.cyrus-feed-divider-2 {
    background-image: linear-gradient(to var(--cyrus-start-direction), var(--color5), var(--color4));
}


.cyrus-feed-view-link {
    margin-top: 8px;
    text-transform: uppercase;
    color: var(--color3);
    font-weight: bold;
    font-size: 15px;
}

.cyrus-feed-view-link:hover {
    color: var(--color1);
}

.cyrus-feed-view-link i {
    margin-left: 5px;
    font-size: 12px;
}

.modal-content {
    background-color: var(--backgroundColor3);
}

.modal-backdrop {
    opacity: .8 !important;
}

/* Grid */
.cyrus-grid {
    display: grid;
    gap: 30px;
}

.cyrus-grid-2 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.cyrus-grid-3 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

/* Alert Info */

.cyrus-alert-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.cyrus-alert-info i {
    margin-right: 15px;
}

.cyrus-alert-info-text {
    font-size: 12px;
    font-weight: 400;
}

.cyrus-item-hidden {
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden !important;
}

/* Modals */

.modals {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    float: right;
    z-index: 1000;
    margin-right: 0.5%;
    margin-top: 0.5%;
}

.modals-wrapper{
    position: fixed;
    width: 40%;
}