@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root{
    --background: black;
    --font: 'Lato';

    /* Colors */
    --color0: #9067e8;
    --color0_light: #b495f8;
    --color1: white;
    --color2: dimgrey;
    --color3: #c5c3c3;
    --color4: #6cdcdc;

    --backgroundColor: black;

    --backgroundColor2: #23252B;
    --hoverBackground: #141519;


    /* Settings */

    --content-wrapper-width: 1300px;
    --content-wrapper-padding-inline: 40px;
}

body {
    background: rgb(0,0,0);
    color: white;
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


/* Header */

#header{
    width: 100%;
    height: 60px;
}


.header-wrapper{
    width: inherit;
    height: inherit;
    background-color: var(--backgroundColor2);
    position: fixed;
    color: var(--color1);
    z-index: 100;
}

#header .logo img{
    width: 190px;
    height: 40px;
}
.header-content{
    left: 0;
    right: 0;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    z-index: 50;
}

.header-left{
    height: inherit;
    display: flex;
    align-items: center;
    padding-right: 15px;
    transition: filter .1s cubic-bezier(0,0,.25,1);
}

.header-left:hover{
    filter: brightness(150%);
    cursor: pointer;
}

.header-center{
    flex: 0 1 65.625rem;
    height: inherit;
    display: flex;
}

.header-center > div{

}

.header-btn{
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: inherit;
    transition: background-color .1s cubic-bezier(0,0,.25,1);
}

.header-btn-hovered{
    background-color: var(--hoverBackground);
}

.header-btn:hover{
    background-color: var(--hoverBackground);
}

.header-right{
    height: inherit;
    flex: 0 1 13.75rem;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.header-user-avatar{
    height: 40px;
    border-radius: 50%;

}

/* LINKS */

a{
    text-decoration: none;
    color: var(--color2);
    z-index: 2;
    transition: color .2s ease;

}
a:hover{
    text-decoration: underline;
    color: var(--color1);
}

.link-nodecoration{
    text-decoration: none;
    color: inherit !important;
}
.link-nodecoration:hover{
   text-decoration: none;
    color: inherit;
}

.separator{
    border-left: 1px solid green;

}

/* Content */

#content{
    color: var(--color1);
}

.content-wrapper{
    max-width: calc(var(--content-wrapper-width) + var(--content-wrapper-padding-inline)*2);
    padding-left: var(--content-wrapper-padding-inline);
    padding-right: var(--content-wrapper-padding-inline);
    margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
    .content-wrapper{
        --content-wrapper-padding-inline: 20px;
    }
    .text {
        line-height: 24px;
    }
}

/* Others */

.no-select{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

::selection {
    color: var(--color0);
    background: var(--hoverBackground);
}

/* Forms Input */

input[type=text].cyrus-input, textarea.cyrus-input, input[type=text].cyrus-input:focus-visible, textarea.cyrus-input:focus-visible{
    width: 100%;
    color: var(--color1);
    border: 1px solid var(--color3);
    background-color: var(--background);
    padding: 8px;
    font-size: 16px;
    outline: none;
    resize: none;
}

input[type=text].cyrus-input:focus, textarea.cyrus-input:focus{
    border-color: var(--color1);
}


.cyrus-label-noborder{
    border-bottom: 0.125rem solid var(--color2);
}

.cyrus-label-noborder:focus-within{
    border-bottom: 0.125rem solid var(--color0_light);
}

.cyrus-input-noborder{
    width: 100%;
    color: var(--color1);
    border: none;
    font-weight: 500;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.cyrus-input-checkbox-null{
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.cyrus-input-checkbox-checkmark{
    background-color: #192e38;
    border: 0.125rem solid #a0a0a0;
    transition: border-color .2s ease;
    box-sizing: border-box;
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 0.5rem;
    position: relative;
    height: 25px;
    width: 25px;
}

.cyrus-label-checkbox{
    color: var(--color3);
}

.cyrus-label-checkbox > *{
    display: flex;
    align-items: center;

}

.cyrus-label-checkbox > *:not(.disable){
    cursor: pointer;
}

.cyrus-label-checkbox input ~ .cyrus-input-checkbox-checkmark{
    background-color: #192e38;
}

.cyrus-label-checkbox input:checked ~ .cyrus-input-checkbox-checkmark{
    color: white;
    border-color: #2abdbb;
}
.cyrus-label-checkbox input:checked ~ .cyrus-input-checkbox-checkmark:after{
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.cyrus-input-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.cyrus-input-checkbox-checkmark:hover:not(.disable){
    cursor: pointer;
}

.cyrus-form-inputs *.cyrus-input{

}

label.cyrus-label{
    width: 100%;

}

input[type=submit].cyrus-input, input[type=reset].cyrus-input{
    border: none;
    background: none;
    padding: 10px 22px;
    font-weight: 900;
    box-shadow:  inset 0 0 0 0.125rem var(--color0);
    transition-duration: .2s;
    transition-property: color,background-color,box-shadow;
    transition-timing-function: ease;
}

input[type=reset].cyrus-input{
    color: var(--color0);
}

input[type=reset].cyrus-input:hover{
    color: var(--color0_light);
    box-shadow:  inset 0 0 0 0.125rem var(--color0_light);
    transition-timing-function: ease;
}


input[type=submit].cyrus-input{
    color: var(--backgroundColor);
    background-color: var(--color0);
}

input[type=submit].cyrus-input:hover{
    box-shadow:  inset 0 0 0 0.125rem var(--color0_light);
    transition-timing-function: ease;
    background-color: var(--color0_light);
}

.cyrus-form-buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.cyrus-form-buttons > *{
    margin-left: 10px;

}

.cyrus-form-buttons > :not(:last-child) {

}

.cyrus-form{

}

.cyrus-form-inputs{

}


.cyrus-hover-pointer:not(.disable){
    cursor: pointer;
}

/* Buttons */
.cyrus-btn{
    width: auto;
    text-transform: uppercase;
}
.cyrus-btn-simple{
    border: none;
    padding: 0;
    background: none;
    font-weight: 700;
    color: var(--color1);
}
.cyrus-btn-simple:hover {
    color: var(--color3) !important;
}

/* Footer */

#footer{
    /*background: rgb(60,54,65);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(48,44,51,1) 18%, rgba(70,61,78,1) 39%, rgba(84,69,97,1) 51%, rgba(88,69,103,1) 63%, rgba(94,68,116,1) 78%, rgba(98,69,124,1) 88%, rgba(110,72,144,1) 95%);
    height: 550px;*/
    margin-top: 140px !important;
}

.section{
    flex: 0 0 25%;
    display: block;

}

.section > * {
    width: 100%;
    padding: 0;
    margin: 0;
}

.section-title{
    font-size: 16px;
    font-weight: bold;
}

.sections{
    display: flex;
    justify-content: center;
}

.copyright{
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    font-weight: 600;
    font-size: 14px;
}



.section h4{
    margin-bottom: 12px;
}

.list{
}

.list li{
    list-style-type: none;
    color: var(--color3);
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: bold;
}


.page-overlay.open{
    opacity: 1;
    visibility: visible;
}
.page-overlay{
    background-color: #23252bcc;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 98;
}


/* DROPDOWN */

.dropdown{
    display: flex;
    align-items: center;
    max-width: 100%;
    min-width: 50%;

    float: left;
}

.dropdown .dropdown-menu{
    background-color: var(--backgroundColor2);
    color: var(--color3);
    width: 100%;
}

.dropdown .dropdown-menu .selected{
    background-color: var(--hoverBackground);
    color: var(--color1);
}

.dropdown ul{
    font-weight: 800;
}

.dropdown .dropdown-toggle{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
}


.dropdown:hover{
    color: var(--color4);
    cursor: pointer;
}

.dropdown ul li{
    padding: 12px 25px 12px 15px;
    font-weight: 400;
}

.dropdown ul li:hover{
    color: var(--color1);
    background-color: var(--hoverBackground);
    cursor: pointer;
}


.dropdown > *:not(:last-child){
    margin-right: 8px;
}

.dropdown-arrow:after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;

}

/* User Menu */

.user-role-text{
    color: var(--color0_light);
    font-size: 16px;
}

/* LIST */

.list-menu{
    background-color: var(--hoverBackground);
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    left: 0;
    min-width: 320px;
    opacity: 0;
    position: fixed;
    top: 60px;
    transform: translateY(-11px);
    transition: transform .1s,opacity .1s cubic-bezier(0,0,.25,1),visibility 0s linear .1s;
    visibility: hidden;
    width: 100%;
}

@media (min-width: 568px) and (min-height: 700px) {
    .list-menu {
        height: auto;
        max-height: calc(100vh - 60px);
        position: absolute;
    }
}
@media (min-width: 568px) {
    .list-menu {
        left: auto;
        /*right: calc(388px - 32px);*/
        right: 0;
        width: 388px;
    }
}


.list-menu.state-open{
    opacity: 1;
    transform: translate(0);
    transition: transform .2s,opacity .2s cubic-bezier(0,0,.25,1),visibility 0s;
    visibility: visible;
}

.list-menu-scrollable{
    overflow-y: auto;
}

.list-menu-section{

}

.list-menu-section:not(:first-child){
    border-top: 0.125rem solid #23252b;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.list-menu-section-item{
    align-items: center;
    color: #dadada;
    display: flex;
    padding: 0.875rem 1.5rem;
    position: relative;
    width: 100%;
}

.list-icon{
    padding-right: 35px;
    font-size: 18px;
    width: 15px;
}

.list-avatar{
    width: 70px;
    border-radius: 50%;
}

.list-menu-btn{
    cursor: pointer;

}

.list-menu-btn:hover{
    background-color: var(--backgroundColor2);
    color: white;
}

