@import url('../../../resources/css/cyrus.css');


.search{
    padding-bottom: 32px;
    padding-top: 32px;
    background-color: var(--hoverBackground);
}



.search .cyrus-input-noborder{
    font-size: 32px;
    width: 97%;
}

.search .reset{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);
}

.search .reset:hover{
    cursor: pointer;
    color: var(--color1);
}

.search .cyrus-label-noborder{
    font-size: 32px;
    width: 80%;
    display: flex;
}

.search .content-wrapper{

}

.results{
    margin-top: 32px;
}

.results-wrapper{
    display: grid;
    gap: 30px;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    margin-top: 32px;
}
.results-wrapper-videos{
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) !important;
}

.results-wrapper > div {
    height: fit-content;
}





@media only screen and (max-width: 1200px) {
    .results-wrapper{
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
}

@media only screen and (max-width: 930px) {
    .results-wrapper{
        grid-template-columns: minmax(0,1fr);
        gap: 15px;
    }
    .results-wrapper-videos{
        grid-template-columns: minmax(0,1fr) !important;
    }
}