@import url('../../../resources/css/cyrus.css');


.search{
    padding-bottom: 32px;
    padding-top: 32px;
    background-color: var(--hoverBackground);
}



.search .cyrus-input-noborder{
    font-size: 32px;
    width: 97%;
}

.search .reset{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color2);
}

.search .reset:hover{
    cursor: pointer;
    color: var(--color1);
}

.search .cyrus-label-noborder{
    font-size: 32px;
    width: 80%;
    display: flex;
}

.search .content-wrapper{

}

.results{
    margin-top: 32px;
}

.results-wrapper{
    display: grid;
    gap: 30px;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    margin-top: 32px;
}
.results-wrapper-videos{
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) !important;
}

.results-wrapper > div {
    height: fit-content;
}



.cyrus-card-duration{
    position: absolute;
    bottom: 5%;
    right: 2%;
    padding: 2px 6px;
    font-size: 16px;
    font-weight: lighter;
    background: rgba(0, 0, 0, .5);
}

.cyrus-cards{
    display: flex;
    overflow: hidden;
}

.cyrus-card{
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    display: block;
    flex-direction: column;
    transition: background-color .2s ease,box-shadow .2s ease;
    background-color: transparent;
    padding: 8px;
}

.cyrus-card-flex{
    display: flex !important;
    align-items: center;
    flex-direction: row;
}

.cyrus-card-flex .cyrus-card-body{
    margin-left: 12px;
}

.cyrus-card-flex .cyrus-card-title, .cyrus-card-flex .cyrus-card-description, .cyrus-card-flex .cyrus-card-description > div{
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.cyrus-card:hover{
    background: #141519;
    box-shadow: 0 0 0 #141519;
    cursor: pointer;
}

.cyrus-card-image{
    width: 100%;
    height: 240px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cyrus-card-image-flex{
    width: 170px;
    height: 120px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cyrus-card-image-catalog{
    width: 80px;
    height: 120px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.cyrus-card-image img, .cyrus-card-image-flex img, .cyrus-card-image-catalog img{
    width: 100%;
    height: 100%;
}

.c-opacity-70{
    opacity: 0.7;
}

.cyrus-card-center{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
}

.cyrus-card-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


.cyrus-card-title{
    color: var(--color1);
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    margin-top: 8px;
}

.cyrus-card-description{
    margin-top: 6px;
}

.cyrus-card-description > div{
    padding-top: 5px;
}

.cyrus-card-description-type{
    font-size: 18px;
    color: var(--color4);
    font-weight: 400;
}

.cyrus-card-description-info{
    font-size: 14px;
    font-weight: 600;
    color: var(--color2);
}

@media only screen and (max-width: 1200px) {
    .results-wrapper{
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
}

@media only screen and (max-width: 930px) {
    .results-wrapper{
        grid-template-columns: minmax(0,1fr);
        gap: 15px;
    }
    .results-wrapper-videos{
        grid-template-columns: minmax(0,1fr) !important;
    }
    .cyrus-card{
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
    }
    .cyrus-card-image {
        width: 150px !important;
        height: 80px !important;
    }
    .cyrus-card-body{
        margin-left: 12px;
    }
    .cyrus-card-title{
        margin-top: 0 !important;
    }
    .cyrus-card-description{
        margin-top: 0 !important;
    }
    .cyrus-card-description > div{
        padding-top: 0 !important;
    }
    .cyrus-card-duration{
        font-size: 13px;
    }
}