@import url('../../../../resources/css/cyrus.css');

.content-wrapper{
    margin-top: 15px;
}

.history-wrapper{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
