@import url('../../../../../resources/css/cyrus.css');


.ticket-wrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 20% 80%;
}

.ticket-information > div:not(:first-child){
    margin-top: 30px;
}

.ticket-information-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--color3);
}

.ticket-information-value{
    font-weight: bold;
    font-size: 16px;
}

.ticket-explanation-body, .ticket-message-body{
    color: var(--color3);
}

.ticket-message, .ticket-explanation{
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 20px;
}

.ticket-message{
    margin-top: 50px;
    width: 100%;
}

.ticket-message-header{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.ticket-user-info{
    display: inline-block;
    margin-left: 15px;
}
.ticket-user-info-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ticket-user-info-username{
    font-weight: bold;
    font-size: 18px;
}

.ticket-user-info-postdate{
    font-size: 14px;
    color: var(--color3);
}

.ticket-user-icon{
    display: inline-block;
    width: 80px;
    height: 80px;
}

.ticket-user-icon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#form0-textarea{
    margin: 28px 0;
    height: 120px;
}

#form0-submit{
    display: inline-block;
    float: right;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    margin-top: 15px;
}

.ticket-answer h5{
    margin-left: 8px;
    margin-top: 15px;
}

.ticket-answer-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}